extends layout

block content
	#container.row
		#container.col-6
			h1 Home
	#container.row
		#container.col-6
			p Welcome to #{title} where your dreams come true. 
			p From this homepage you can create your own tailormade workouts!
			p Use the navbar to navigate the site, and become a true gentleman today!
			p A true gentleman is not superior to others, but strive to be superior to his former self!