extends layout

block content
	#container.row
		h1= title
	#container.row
		p Welcome to #{title} where your dreams come true

	#container.row
		a(input='submit' class='btn btn-primary' href='http://www.google.com') Google
	