extends layout

block content
	if user
		h1 Welcome #{user.username}!
		
		if user.workoutprograms.length > 0
			p This is your current workouts
			p From the table below you can manage your Workouts
			table.table.table-striped.table-hover.table-responsive.mytable
				thead
					tr
						th #
						th Workout name
						th Options
				tbody
					each workoutProgram, index in user.workoutprograms
						tr
							th= index+1
							th= workoutProgram.workoutName
							th
								.row.btn-space
									form(action='/ShowExercises' method='post')
										input(type='hidden' name='workoutName' value='' + workoutProgram.workoutName)
										input(type='hidden' name='user' value=user)
										input(class='btn btn-success' type='submit' value="Manage") 
									form(action='/DeleteWorkout' method='post')
										input(type='hidden' name='workoutName' value='' + workoutProgram.workoutName)
										input(type='hidden' name='workoutid' value='' + workoutProgram._id)
										input(type='submit' class='btn btn-danger' value='Delete')
		else
			p You have no workouts yet!
			p Use the box below to start creating a new workout
		.col-md-3.box-shadow
			h2 Create New Workout
			form(action='/CreateWorkout' method='post')
				h5 Workout name: 
				input(type='text' class='btn-space' style="color:black" name='workoutname')
				br
				input(type='submit' class='btn btn-success' value='Create Workout')
	else 
		h1 You have to log in!

